<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MSSQL"
         connectionString="Data Source=127.0.0.1; Initial Catalog=database; User ID=SA; Password=password;"/>
    <add name="SSH"
         connectionString="Host=hostname; Username=username; Password=password"/>
  </connectionStrings>
  <appSettings>
    <add key="MD5SALT" value="md5salt"/>
  </appSettings>
</configuration>