<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MSSQL"
         connectionString="Data Source=127.0.0.1; Initial Catalog=Soundify; User ID=SA; Password=Sterk_W@chtw00rd2;"/>
    <add name="SSH"
         connectionString="Host=145.44.235.172; Username=student; Password=Sterk_W@chtw00rd2"/>
  </connectionStrings>
  <appSettings>
    <add key="MD5SALT" value="Sterk_W@chtw00rd2"/>
  </appSettings>
</configuration>